/* ================= GLOBAL ================= */
:root{
    --verde-trybe: rgb(50, 167, 145);
    --verde-trybe-dark: rgb(31, 111, 96);
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
}
/* ================= HEADER ================= */
.header {
    width: 100%;
    height: 6rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde-trybe)
}
.header img {
    height: 100%;
}
.header h1 {
    color: white;
    font-size: 4rem;
}
.header .trybewarts-login {
    display: flex;
    gap: .5rem;
}
.trybewarts-login button {
    background-color: var(--verde-trybe-dark);
    border: var(--verde-trybe-dark);
}
/* ================= MAIN ================= */
main {
    margin: auto;
    display: flex;
}
#evaluation-form {
    width: 67.5rem;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 1024px) {
    .header {
        height: 9.5rem;
    }
    .trybewarts-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        gap: .5rem;
    }
    
}
@media screen and (max-width: 580px) {
    .header h1 {
        display: none;
    }

    
}