@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* ================= GLOBAL ================= */
:root {
  --verde-trybe: rgb(50, 167, 145);
  --verde-trybe-dark: rgb(31, 111, 96);
  --background: rgb(243, 243, 243);
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 1rem;
  font-family: 'Poppins' !important;
  background-color: var(--background) !important;
}
/* ================= HEADER ================= */
.header {
    background-color: var(--verde-trybe);
    width: 100%;
    height: 8rem;
    margin-bottom: 6rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    height: 80%;
}
.header h1 {
    /* font-family: 'Montserrat' !important; */
  color: white;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .trybewarts-login {
  display: flex;
  gap: 0.5rem;
}
.trybewarts-login button {
  background-color: var(--verde-trybe-dark);
  border: var(--verde-trybe-dark);
}
/* ================= MAIN ================= */
main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
#evaluation-form {
  /* border: 1px solid red; */
  width: 67.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem 0 10rem;
}
.imgBox {
  width: 67.5rem;
}
#evaluation-form .sideBySide {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
#evaluation-form #house {
  width: 97%;
}
#trybewarts-forms-logo {
  height: 50rem;
}
.box-radio {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding-left: 0.2rem;
  gap: 0.5rem;
  width: 50%;
}
.box-radio label input {
  margin-right: 0.5rem;
}
.box-checkbox, 
.box-rate {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 0.5rem;
}
.box-checkbox label input {
  margin-right: 0.5rem;
}
.box-rate div{
  display: flex;
  gap: 2rem;
}
/* ================= MOBILE MEDIUM ================ */
@media screen and (max-width: 1024px) {
  /* ================= HEADER ================= */
  .header {
    height: 9.5rem;
    margin-bottom: 3rem;
  }
  .trybewarts-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    gap: 0.5rem;
  }
  /* ================= MAIN ================= */
  main {
    flex-direction: column-reverse;
    margin-inline: 1rem;
    border-radius: 5px;
    padding-inline: 1rem;
  }
  #trybewarts-forms-logo {
    height: 20rem;
  }
  .imgBox {
    width: fit-content;
  }
  #evaluation-form {
    width: min(50rem, 100%);
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  #evaluation-form :nth-child(2).sideBySide {
    flex-direction: column;
  }
  #evaluation-form #house {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
  }
  .box-radio {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-self: flex-start;
    gap: 0.5rem;
    width: initial;
  }
  .box-checkbox {
    align-self: flex-start;
  }
}
/* ================= MOBILE SMALL ================= */
@media screen and (max-width: 400px) {
  .header h1 {
    display: none;
  }
  #evaluation-form {
    width: 100%;
  }
}
